@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* /// nav-conainter styles /// */

*{
    box-sizing: border-box;
}

.navv{
    background-color:#FFF;
    min-height: 130px;
   max-width: 100%;
   margin: 30px 40px;
   padding: 30px 40px;
}
.nav-container{
     display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-logo{
    width: 50%;
    display: flex;
    align-items: center;

}
.nav-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-img{
    width: 100px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
   
}
.nav-para{

    color: #0B0223;
font-size: 45px;
font-weight: 700;

}
.nav-span{
    color: #F948B2;
}
.nav-content{
    color: #3C354F;
font-size: 18px;
font-weight: 500;
text-align: center;
display: flex;
justify-content: space-between;


}
.nav-ankor{
    text-decoration: none;
    color: #3C354F;
    margin: 20px;
}
.nav-ankon{
    width: 250px; 
    padding: 17px;
   border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}

.icons{
   background-color: #F61C0D;
   width: 34px;
height: 24px;
border-radius: 3px ;

}

.iconss{
    width: 34px;
height: 24px;
}

/* /////////goat style css/////// */

main{
    max-width: 100%;
}

.goat-container{
display: flex;
justify-content: space-between;
align-items: center;


}
.goat-conten{

width: 50%;
text-align: center;

}
.goat-img-content{


}
.goat-pic{

width: 90%;

}

.goat-1st{

padding-top: 20px;
color: #0B0223;
font-size: 40px;
font-weight: 600;
text-align: center;

}
.goat-title{ 
font-size: 60px;
font-weight: 800;
color: #F948B2 ;
text-align: center;
padding-right: 30px;

}

.para-common{
color: #534C64;
font-size: 20px;
font-weight: 500;
list-style: none;
padding-right:15px ;


}
.button-1{
color: #FFF;
font-size: 20px;
font-weight: 600;
width: 120px;
height: 50px;
border-radius: 30px;
background-color:#F948B2;

margin: 20px;
text-align: center;

}
.butoon-2{
color: #FFF;
font-size: 20px;
font-weight: 600;
width: 130px;
height: 50px;
border-radius: 30px;
background-color: #4EC5F7;
text-align: center;



}
.main-bk{
background-image: url(./images/Group\ 14.png);
width: 100%;
}
.li{
display: flexbox;
margin: 0 auto;
}




/* ///////////////// media sreen style/////////// */


@media screen and (max-width:576px) {
    .nav-container{
      flex-direction: column;
       
   }
   .nav-logo{
   flex-direction: column;

}
.nav-content{
   flex-direction: column; 
}

.goat-container{
   flex-direction: column-reverse;
   
 
}
}